# Big query Implementation

importing the library and setting key for bigquerry data set (key are confidential sould not be shared publicly)

In [1]:
from google.cloud import bigquery
bq_client = bigquery.Client.from_service_account_json('private/alpha-8448e-23ac85082066.json')

basic function to run querry for the data set

In [2]:
def make_query(query):
    query_job = bq_client.query(query)
    print("Query State:",query_job.state)
    return(query_job.result())

**Demo1:** Writing querry to show count out cities in 10 states from our city 101 table

In [3]:
query = "SELECT  state, count(city) as City_Count FROM `alpha-8448e.USCities.Cities101` group by state limit 10;"
result = list(make_query(query))
result

Query State: RUNNING

[Row(('Iowa', 3), {'state': 0, 'City_Count': 1}),
 Row(('Ohio', 6), {'state': 0, 'City_Count': 1}),
 Row(('Utah', 4), {'state': 0, 'City_Count': 1}),
 Row(('Idaho', 2), {'state': 0, 'City_Count': 1}),
 Row(('Texas', 40), {'state': 0, 'City_Count': 1}),
 Row(('Alaska', 1), {'state': 0, 'City_Count': 1}),
 Row(('Hawaii', 1), {'state': 0, 'City_Count': 1}),
 Row(('Kansas', 5), {'state': 0, 'City_Count': 1}),
 Row(('Nevada', 5), {'state': 0, 'City_Count': 1}),
 Row(('Oregon', 5), {'state': 0, 'City_Count': 1})]

**Demo2:** Writing querry to show Average city area in 10 states from our city 101 table

In [4]:
query = "SELECT  state,AVG(area_in_miles) as AVG_CITY_AREA_in_miles FROM `alpha-8448e.USCities.Cities101` group by state limit 10;"
result = list(make_query(query))
result

Query State: RUNNING

[Row(('Iowa', 74.19999999999999), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Ohio', 95.33333333333334), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Utah', 55.175), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Idaho', 55.949999999999996), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Texas', 117.73499999999999), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Alaska', 1706.6), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Hawaii', 60.5), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Kansas', 96.53999999999999), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Nevada', 96.06), {'state': 0, 'AVG_CITY_AREA_in_miles': 1}),
 Row(('Oregon', 54.9), {'state': 0, 'AVG_CITY_AREA_in_miles': 1})]